<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="19.1.84" targetFramework="net472" />
  <package id="Infragistics.WPF.DataGrids" version="19.1.84" targetFramework="net472" />
  <package id="Infragistics.WPF.DragDrop" version="19.1.84" targetFramework="net472" />
  <package id="Infragistics.WPF.Editors" version="19.1.84" targetFramework="net472" />
</packages>